name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run linters (pre-commit)
        run: uv run pre-commit run --show-diff-on-failure --color=always --all-files

      - name: Run unit tests
        run: uv run pytest

  coverage:
    runs-on: ${{ matrix.os }}
    needs: [run]

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: pyproject.toml

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Generate coverage report
        run: uv run pytest --cov-report=xml --cov=iaqualink

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: full-suite
